<<<<<<< HEAD
.equipment-img {
    max-width: 50%;
}

.equipment-magic-wrap {
    text-align: center;
    padding: 20px;
}

.equipment-ranged-weapon {
    max-width: 100%;
}
=======
.equipment-img {
    max-width: 50%;
}

.equipment-magic-wrap {
    text-align: center;
    padding: 20px;
}

.equipment-ranged-weapon {
    max-width: 100%;
}
>>>>>>> c53316f76e43eb455e378f09513e1a8614ecbdcb
